<%= turbo_frame_tag dom_id(room_message) do %>
  <% if room_message.readed %>
    <div class="card">
      <div class="card-body room-message-readed">
        <p><%= room_message.message %></p>
      </div>
    </div>
  <% else %>
    <div class="card">
      <div class="card-body <%='bg-danger' if room_message.favourite%>" >
        <p><%= room_message.message %></p>
        <% if room_message.favourite %>
        <span class="badge badge-danger">Like</span>
        <%end%>
        <%= form_with(model: room_message) do |form| %>
          <%= form.hidden_field :readed, value: true %>
          <%= form.submit "Leído", class: 'btn btn-success' %>
        <% end %>
        <%= button_to 'Like', {action: 'toggle_like', controller: 'room_messages', id: room_message.id}, id: "room_message_#{room_message.id}", class: 'btn btn-light', remote: true, data: {'type': 'json' } %>
      </div>
    </div>
  <% end %>
<% end %>

