<nav class="navbar navbar-expand-lg navbar-dark bg-dark justify-content-between">
  <%= link_to 'Survey express chat', root_path, class: 'navbar-brand' %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nav-bar-collapse" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <% if current_user %>
    <a class="nav-link" href="#">
      <img class="avatar" src="<%= current_user.gravatar_url %>">
      <%= current_user.username %>
    </a>
    <%= link_to 'Editar', profile_path, class: 'nav-link' %>
    <%= link_to 'Logout', close_session_path, class: 'nav-link' %>
  <% end %>
</nav>
