<!DOCTYPE html>
<html>
  <head>
    <title>SurveyExpressNormal</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body>
    <%= render partial: 'shared/navigation_bar' %>
    <%= javascript_pack_tag 'hello_react' %>
    <div class="d-flex">
      <div id="sidebar"></div>
      <div class="container">
        <div class="row">
          <div class="col-12">
            <%= yield %>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
